<section class="container mt-3">
    <div class="px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3">
        <h1 class="display-4">
        <%= @friend.first_name %>
        <%= @friend.last_name %>
        </h1>
        <p class="lead">
          <%= @friend.email %> |
          <%= @friend.phone %> |
          <%= @friend.twitter %>
        </p>
        <br/>
        <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
        <%= link_to 'Back', friends_path, class:"btn btn-secondary btn-dark" %>

    </div>
</section>

